---
import PostSearchBar from "@/components/PostSearchBar.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import type { InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { format } from "date-fns";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: post,
    };
  });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const {
  data: { title, description, tags, publishDate, coverImage },
  render,
} = Astro.props;
const { Content } = await render();
---

<RootLayout title={title} description={description} keywords={tags}>
  <main
    class="container mx-auto w-full space-y-8 px-4 py-8 lg:max-w-screen-lg lg:space-y-16 lg:py-16"
  >
    <div class="flex items-start gap-8">
      <div class="flex-1">
        <h2 class="text-4xl font-bold text-zinc-600 dark:text-zinc-100">
          {title}
        </h2>
        <p class="mb-8 mt-4 text-lg text-zinc-600 dark:text-zinc-300">
          Published
          <span>
            {format(new Date(publishDate), "MMMM dd, yyy")}
          </span>
        </p>

        {
          !!coverImage && (
            <Image
              src={coverImage}
              alt={title}
              class="my-8 aspect-video w-full object-cover"
              width={800}
              height={600}
            />
          )
        }

        <div class="prose max-w-none dark:prose-invert md:prose-lg">
          <Content />
        </div>
      </div>

      <div class="w-64 max-lg:hidden">
        <PostSearchBar />
      </div>
    </div>
  </main>
</RootLayout>
