---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
type Props = {
  data: CollectionEntry<"posts">;
};
const {
  data: {
    data: { title, description, publishDate, coverImage },
    slug,
  },
} = Astro.props;
---

<article class="py-4 relative flex gap-4">
  <div class="flex-1">
    <h3 class="text-xl font-bold line-clamp-2">{title}</h3>
    <p class="text-zinc-700 dark:text-zinc-300 my-1 line-clamp-2">
      {description}
    </p>
    <p class="text-zinc-600 dark:text-zinc-400 my-1">
      {format(publishDate, "MMM dd, yyy")}
    </p>
  </div>
  {
    !!coverImage && (
      <Image
        src={coverImage}
        alt={title}
        class="aspect-square md:aspect-video w-24 md:w-40 h-fit object-cover rounded-md"
        width={320}
      />
    )
  }
  <a href={`/posts/${slug}`} class="absolute inset-0 opacity-0">{title}</a>
</article>
