---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { BASE_URL } from "@/lib/constants";

type Props = {
  title?: string | undefined;
  description?: string;
  keywords?: string[] | undefined;
  image?: string | undefined;
  imageAlt?: string | undefined;
  author?: string | undefined;
};

const {
  title = "Rohid",
  description = "Hey, I'm Rohid. I'm a programmer, designer and solopreneur",
  keywords = [],
  author = "Rohid",
  image,
  imageAlt,
} = Astro.props;

const imageUrl = image ? new URL(image, BASE_URL).href : undefined;
const canoical = `${BASE_URL}${Astro.url.pathname}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="copyright" content="ISC" />

    <title>{title}</title>
    <meta name="description" property="og:description" content={description} />

    <meta property="og:type" content="website" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    {!!imageAlt && <meta property="og:image:alt" content={imageAlt} />}
    {!!imageUrl && <meta property="og:image" content={imageUrl} />}

    <meta property="og:url" content={canoical} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@rohiddev" />

    <meta name="author" content={author} />
    <meta name="keywords" content={keywords.join(",")} />

    <link rel="canonical" href={canoical} />
    <!-- Plausible Script -->
    <script
      defer
      data-domain="rohid.dev"
      src="https://plausible.io/js/script.js"></script>
    <!-- SupaBot AI -->
    <script
      async
      src="https://supabotai.com/api/widget/js?id=clm29uwbn0001l20883uegbig"
    ></script>
  </head>
  <body
    class="flex min-h-screen flex-col bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50"
  >
    <Header />
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
</style>
